$colorPrimay: #02cab9
$colorSecondary: #d2d2d2
$colorThirdary: #484848
$colorNone: #fff
$padWidth: 1200px
$phoneWidth: 640px

@mixin pad
  @media screen and (max-width: $padWidth)
    @content
@mixin phone
  @media screen and (max-width: $phoneWidth)
    @content

html
  font-size: 12px

h3
  font-size: 1.167em
  color: inherit
.mar
  &-t-05
    margin-top: 0.5em!important
  &-b-05
    margin-bottom: 0.5em!important

.color
  &-primary
    color: $colorPrimay
  &-secondary
    color: $colorSecondary

#root
  width: 100%
  height: 100%

.layoutSingle
  width: 100%
  height: 100%
  background-color: $colorNone

.calendar
  &__wrapper
    width: 700px
    position: absolute
    margin-top: 5%
    left: 50%
    transform: translateX(-50%)
    font-family: Helvetica Neue,Helvetica,Arial,PingFang HK,\.PingFang-SC-Regular,PingFang,Hiragino Sans GB,STHeiti,Microsoft JhengHei,sans-serif!important
    @include phone
      width: 300px
  &__list
    padding: 0
    margin: 0
    list-style: none
  &__item
    display: block
    float: left
    width: calc(14.286% - 1rem)
    text-align: center
    border-top: 4px solid $colorPrimay
    margin: 0 0.5rem
    &--expired
      color: $colorSecondary
      border-color: $colorSecondary
  &__time
    color: $colorPrimay
    &--booked
      color: $colorSecondary
  &__nav
    margin-bottom: 1.5em
  &__range
    display: inline-block
    font-size: 1.167em
  &__txt
    display: inline-block
    float: right
    @include phone
      float: initial
  &__options
    display: inline-block
    margin-right: 2rem
    &.ant-btn
      width: 2.5em
      height: 2em
